@use "defaults";

.content {
    position: relative;

    visibility: hidden;

    display: flex;

    white-space: nowrap;

    text-overflow: ellipsis;
    min-width: 30px;
    height: 1.5em;

    input {
        @include defaults.overlay;

        cursor: var(--cursor-text);

        font-family: inherit;
        font-size: inherit;
        text-align: inherit;
        
        visibility: visible;
        
        padding: 4px 8px;

        color: var(--color-input-text);
        background-color: var(--color-input-background);
        
        border: none;
        
        &.border{
            border: var(--border-width) solid var(--color-input-border);
            border-radius: var(--border-radius);
        }
        
        &:focus {
            background-color: var(--color-input-focussed-background);
            outline: 2px solid var(--color-input-focussed-border);
        }

        &.invalid {
            border-color: var(--color-red);
        }
    }

}
