.number-input {
    display: flex;
    align-items: stretch;
    
    --number-border: var(--border-radius) solid var(--color-input-border);
    
    & > * {
        border-top: var(--number-border);
        border-bottom: var(--number-border);
    }

    & > :first-child {
        border-left: var(--number-border);
        border-left-width: var(--border-width);
    }

    & > :last-child {
        border-right: var(--number-border);
        border-right-width: var(--border-width);
    }
    
    c-text-input {
        flex: 1;
        text-align: center;

        cursor: pointer;
    }
}