@use "defaults" as defaults;

.handle {
    // width: var(--handle-size);
    // height: var(--handle-size);

    // border: 2px solid var(--color-blue);
    // background-color: white;
    // border-radius: var(--handle-radius);

    position: relative;
    
    transform: translate(-50%, -50%);

    &.n {cursor: var(--cursor-n-resize); }
    &.s {cursor: var(--cursor-s-resize); }
    &.w {cursor: var(--cursor-w-resize); }
    &.e {cursor: var(--cursor-e-resize); }

    &.ne {cursor: var(--cursor-ne-resize); }
    &.nw {cursor: var(--cursor-nw-resize); }
    &.se {cursor: var(--cursor-se-resize); }
    &.sw {cursor: var(--cursor-sw-resize); }
    
    img {
        image-rendering: pixelated;

        user-select: none;
        pointer-events: none;

        width: 12px;
        height: 12px;
    }
}