@use "defaults" as defaults;

.handle-root {
    position: absolute;
    display: flex;

    .handle-icon {
        position: absolute;
        display: inline-flex;
        transform: translate(-50%, -50%);
        
        cursor: var(--cursor-edit-origin);

        img {
            image-rendering: pixelated;

            user-select: none;
            pointer-events: none;

            width: 10px;
            height: 10px;
        }

    }
    .preview {
        @include defaults.readable-text;
        white-space: pre;
    }
}