@use "defaults" as defaults;

.handle-root {
    position: absolute;
    display: flex;

    .handle-icon {
        position: absolute;
        display: inline-flex;
        transform: translate(-50%, -50%);
        
        cursor: crosshair;

    }
    .preview {
        @include defaults.readable-text;
        white-space: pre;
    }
}