@use "defaults";

.button-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2px;

    padding: 2px 2px;
    
    // @include defaults.border;
    @include defaults.clickable;

    // Regular buttons
    background-color: white;
    &:hover { background-color: #eee; }
    &:active { background-color: #ddd; }

    &.enabled {
        background-color: var(--color-light-blue);
        
        &:hover { background-color: var(--color-blue); }
        &:active { background-color: var(--color-dark-blue) }
    }
}