.outline {
    position: absolute;

    border: 2px dotted var(--color-gray-300);

    .sprite-id {
        font-size: 0.8em;

        position:absolute;

        color: var(--color-white);
        background-color: var(--color-black);

        white-space: nowrap;
        
        // left: var(--handle-radius);
        bottom: 100%;
    }
}