.app-container {
    display: grid;
    grid-template-areas: 
        "nav nav nav"
        "sidebar-left sprite-view sidebar-right";

    grid-template-columns: 250px 1fr 160px;
    grid-template-rows: auto 1fr;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    app-navbar {
        grid-area: nav;
    }
    app-sidebar.left {
        grid-area: sidebar-left;
    }
    app-sidebar.right {
        grid-area: sidebar-right;
    }

    app-sprite-view {
        grid-area: sprite-view;
    }
}