.text{
    position: relative;

    .value {
        white-space: pre;
    }

    &.open {
        .value { visibility: hidden; }
    }

    &:not(.open) {
        .input { display: none; }
    }
}

input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    font-family: inherit;
    font-size: inherit;
    
    color: unset;
    background-color: unset;

    padding-block: 0;
    padding-inline: 0;

    border:none;
    padding: 0;

    outline: none;

    width: auto;
}