@use "sidebarpanel";
@use "defaults";

.sprites {
    @include defaults.scrollbar;
    
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: overlay;

    max-height: 600px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 1;
}