@use "defaults";

.controls {
    display: flex;
}

.sprite-preview {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1;

    background: var(--color-input-background);

    padding: 12px;

    .sprite-preview-component {
        display: flex;
        justify-content: center;

        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }
}

.sprite-frames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8px;

    gap: 2px;

    .frame {
        aspect-ratio: 1 / 1;
    }
    
    .add-frame {
        display: flex;
        justify-content: center;
        align-items: center;

        border: var(--border-width) solid var(--color-input-border);
        border-radius: var(--border-radius);
        border-style: dashed;
    }
}

.sprite-properties-table {
    display: grid;
    grid-template-columns: 1fr 1fr min-content;

    justify-content: stretch;
    align-items: stretch;
    
    .fixed {
        color: var(--color-text-disabled);
    }

    .key, .value, .value-full {
        padding: 2px;

        display: flex;
        align-items: stretch;

        & > * {
            flex:1;
        }
    }

    .value-full {
        grid-column: 2 / 4;
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dropdown-items {
    display: flex;
    flex-direction: column;

    padding: 2px;

    min-width: 200px;
    border: var(--border-width) solid var(--border-color);
}
