@use "defaults" as defaults;

.handle {
    width: var(--handle-size);
    height: var(--handle-size);

    border: 2px solid var(--color-blue);
    background-color: white;
    border-radius: var(--handle-radius);

    position: relative;
    
    transform: translate(-50%, -50%);

    &.n {cursor: n-resize; }
    &.s {cursor: s-resize; }
    &.w {cursor: w-resize; }
    &.e {cursor: e-resize; }

    &.ne {cursor: ne-resize; }
    &.nw {cursor: nw-resize; }
    &.se {cursor: se-resize; }
    &.sw {cursor: sw-resize; }
}