@use "defaults" as defaults;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 4px;

    padding: 2px 2px;
    
    // @include defaults.border;
    @include defaults.clickable;

    &.disabled { color: var(--color-text-disabled); }

    // Regular buttons
    background-color: white;
    &:hover { background-color: #eee; }
    &:active { background-color: #ddd; }
}