@use "defaults" as defaults;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 4px;

    padding: 2px 4px;
    
    border-radius: var(--border-radius);
    @include defaults.clickable;

    // Regular buttons
    background-color: rgb(216, 212, 195);
    &:hover { background-color: rgb(209, 208, 201); }
    &:active { background-color: rgb(165, 160, 138); }
    
    &.enabled {
        color: var(--color-text-on-light-blue);
        background-color: var(--color-light-blue);
        
        &:hover { background-color: var(--color-blue); }
        &:active { background-color: var(--color-dark-blue) }
    }
    
    &.disabled { 
        color: var(--color-text-disabled);
        
        &:hover { background-color: rgb(216, 212, 195); }
        &:active {  background-color: rgb(216, 212, 195); }
    }
}