@mixin border {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
}

@mixin border-bottom {
    border-bottom: var(--border-width) solid var(--border-color);
}
@mixin border-top {
    border-top: var(--border-width) solid var(--border-color);
}
@mixin border-right {
    border-right: var(--border-width) solid var(--border-color);
}
@mixin border-left {
    border-left: var(--border-width) solid var(--border-color);
}


@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 100%;
    max-height: 100%;
}

@mixin clickable {
    cursor: pointer;
    user-select: none;
}

@mixin selectable-list-item {
    cursor: default;
    user-select: none;

    padding: 2px 8px;
    border-radius: var(--border-radius);
    
    color: var(--color-selectable-text);
    background-color: var(--color-selectable-background);

    &:hover {
        color: var(--color-selectable-text-hover);
        background-color: var(--color-selectable-background-hover);
    }
    &.selected {
        color: var(--color-selected-text);
        background-color: var(--color-selected-background);
    }
    &.selected:active {
        color: var(--color-selected-text-hover);
        background-color: var(--color-selected-background-hover);
    }
}

@mixin readable-text {
    color: var(--color-white);
    text-shadow: 1px 1px 3px var(--color-black);
}