* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    --gap: 8px;

    --border-radius: 0px;
    --border-width: 2px;
    --border-color: rgb(112, 81, 40);

    --color-white: white;
    --color-black: black;

    --color-green: #32a14e;
    --color-text-on-green: white;
    
    --color-red: #ac2222;
    --color-text-on-red: white;

    --color-light-blue: #4e81bb;
    --color-text-on-light-blue: rgb(255, 255, 255);

    --color-blue: #276ec0;
    --color-text-on-blue: white;

    --color-dark-blue: #19569b;
    --color-text-on-dark-blue: white;

    --color-gray-100: #e7e6de;
    --color-text-on-gray-100: var(--color-text);

    --color-gray-200: #cac9be;
    --color-text-on-gray-200: var(--color-text);

    --color-gray-300: #8f8e83;
    --color-text-on-gray-300: var(--color-text);

    color: var(--color-text);
    background-color: var(--color-background);

    --handle-radius: 6px;
    --handle-size: 12px;

    // UI colors, actual stuff
    --color-text: rgb(0, 0, 0);
    --color-text-disabled: rgba(0, 0, 0, 0.3);
    --color-background: #dbd5ce;

    --color-navbar-text: rgb(0, 0, 0);
    --color-navbar-background: #a0896f;

    --color-button-default-background: rgb(245, 240, 229);
    --color-button-default-text: #0e2833;
    --color-button-default-background-hover: color-mix(in srgb, var(--color-button-default-background) 95%, black);
    --color-button-default-text-hover: var(--color-button-default-text);

    --color-selectable-background: var(--color-background);
    --color-selected-text: var(--color-text);
    --color-selectable-background-hover: color-mix(in srgb, var(--color-background) 95%, black);;
    --color-selected-text-hover: var(--color-selected-text);

    --color-selected-background: #536424;
    --color-selected-text: #eaffe9;
    --color-selected-background-hover: color-mix(in srgb, var(--color-selected-background) 95%, black);
    --color-selected-text-hover: var(--color-selected-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

    margin-top: 1em;
}


// Just for hosts having to have inline flex....
.host-inline-flex {
    display: inline-flex;
}