* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    --gap: 8px;

    --border-radius: 4px;
    --border-width: 2px;
    --border-color: #545e6d;
    --border-color-light: #4a5463;

    --color-white: white;
    --color-black: black;

    --color-green: #32a14e;
    --color-text-on-green: white;

    --color-red: #ac2222;
    --color-text-on-red: white;

    --color-light-blue: #4e81bb;
    --color-text-on-light-blue: rgb(255, 255, 255);

    --color-blue: #276ec0;
    --color-text-on-blue: white;

    --color-dark-blue: #19569b;
    --color-text-on-dark-blue: white;

    --color-gray-100: #e7e6de;
    --color-text-on-gray-100: var(--color-text);

    --color-gray-200: #cac9be;
    --color-text-on-gray-200: var(--color-text);

    --color-gray-300: #8f8e83;
    --color-text-on-gray-300: var(--color-text);

    color: var(--color-text);
    background: var(--color-background);
    
    --handle-radius: 6px;
    --handle-size: 12px;

    // UI colors, actual stuff
    --color-text: #afb5c4;
    --color-text-disabled: #59637e;
    --color-background: #2c3138;

    --color-navbar-text: #afb5c4;
    --color-navbar-background: #353d47;
    --color-navbar-border-bottom: #12112e;

    --color-scrollbar: #353d47;

    --color-button-default-background: rgb(245, 240, 229);
    --color-button-default-text: #0e2833;
    --color-button-default-background-hover: color-mix(in srgb, var(--color-button-default-background) 95%, black);
    --color-button-default-text-hover: var(--color-button-default-text);

    --color-selectable-text: var(--color-text);
    --color-selectable-background: var(--color-background);
    --color-selectable-text-hover: var(--color-selected-text);
    --color-selectable-background-hover: color-mix(in srgb, var(--color-background) 95%, black);
    --color-selectable-border: var(--color-background);

    --color-selected-background: #4d3c43;
    --color-selected-text: #fef7be;
    --color-selected-background-hover: color-mix(in srgb, var(--color-selected-background) 95%, black);
    --color-selected-text-hover: var(--color-selected-text);
    --color-selected-border: #6b4949;

    --color-input-background: #1f1e2f;
    --color-input-text: var(--color-text); //#f7eaf1;
    --color-input-focussed-background: #1f1e2f;
    --color-input-border: #2a2936;
    --color-input-focussed-border: #6b4949;

    --cursor-default: url('/cursors/cursor-default.png') 0 0, default;
    --cursor-pointer: url('/cursors/cursor-pointer.png') 6 0, pointer;
    
    --cursor-ne-resize: url('/cursors/cursor-resize-ne-sw.png') 10 10, ne-resize;
    --cursor-sw-resize: url('/cursors/cursor-resize-ne-sw.png') 10 10, sw-resize;
    --cursor-se-resize: url('/cursors/cursor-resize-nw-se.png') 10 10, se-resize;
    --cursor-nw-resize: url('/cursors/cursor-resize-nw-se.png') 10 10, nw-resize;

    --cursor-edit-origin: url('/cursors/cursor-edit-origin.png') 0 4, crosshair;
    
    --cursor-text: url('/cursors/cursor-edit-text.png') 4 10, text;

    --cursor-n: n-resize;
    --cursor-e: e-resize;
    --cursor-s: s-resize;
    --cursor-w: w-resize;

    cursor: var(--cursor-default);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    display: flex;
    align-items: center;

    gap: 0.5em;

    margin: 0;
    padding: 0;

    margin-top: 1em;
}


// Just for hosts having to have inline flex....
.host-inline-flex {
    display: inline-flex;
}