@use "defaults" as defaults;

.sidebar-panel {
    .heading {
        padding: 4px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        color: var(--color-navbar-text);
        background: var(--color-navbar-background);
        
        padding: 4px;
        gap: var(--gap);

        .title {
            font-size: 0.8em;
            text-transform: uppercase;
            flex: 1;
        }

        .actions {
            display: flex;

            justify-content: flex-start;
            align-items: center;

            gap: var(--gap);
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        padding: 4px;
    }
}